body{
margin:0;
background:black;
overflow:hidden;
color:white;
font-family:Arial;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}

header{
position:absolute;
top:40%;
width:100%;
text-align:center;
}

h1{
color:#a020f0;
font-size:60px;
}

.enter{
display:inline-block;
margin-top:20px;
padding:15px 30px;
background:#a020f0;
color:white;
text-decoration:none;
font-size:22px;
border-radius:8px;
}
